.plusButton {
    background: linear-gradient(to right, #cdffd8, #94b9ff);
    color: white;
    font-size: 2rem;
    padding: 0 5% 1% 5%;
    border-radius: 50px;
}

#alleReservierungen {
    width: 70vw;
    margin-left: 7vw;

    #bookingitems {
        background-color: white;
        list-style: none;
        padding: 0;
        margin-top: 5vh;
        color: black;

        .fc {
            padding: 15px;
        }

        .fc-event-title {
            color: black;
        }

        .fc-event {
            background-color: #ffc8dd;
            padding: 5px 25px;
            border: none;
        }

        a {
            padding: 3vh 5vw 3vh 5vw;
            display: block;
            color: black;
        }
    }
}
